.gallery {
    text-align: center;
}

.gallery img {
    margin: 0.25rem;
}

.footer {
    font-size: 1.25rem;
    font-weight: bold;
}

.red-border {
    border: 0.25rem solid red;
}

button {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#buttons-container {
    margin: 2rem;
    padding: 2rem;
    border: 0.2rem solid black;
}